.header{
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    background: #fff;
}

.header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header nav a{
    text-decoration: none;
    font-size: 18px;
    color: #3c00a0;
    transition: all 0.15s;
}
.header nav a:hover{
    font-weight: bold;
}
.header nav button{
    border: 0;
    background: transparent;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 18px;
    color: #3c00a0;
    transition: all 0.15s;
}
.header nav button:hover{
    font-weight: bold;
}